body {
    height: 100%;
    margin: 0;
    font-family: 'REM', sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(../images/world1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

html {
    height: 100%;
    font-family: 'REM', sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
}

#main-holder {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 5px 2px black;
    text-align: center;
}

.btn {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #42a5f5; 
    cursor: pointer;
    display: block;
}

.btn:hover {
    background-color: green;
}

.game-options a {
    text-decoration: none;
}

#login-header {
    margin-top: 0;
    color: #263238;
}
