#map {
    height: 750px;
    width: 100%;         
    border-radius: 0.5rem;    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.map-text{
    display: flex;
    
}

.score-text {
    padding: 0 30px;
    float: right;
}

.find-city-text{
    text-align:left;
}


body {
    font-family: 'REM', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
    padding: 20px;
}