<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaflet Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="../static/css/map.css">
</head>
    <body>

        <h1 class="find-city-text">
            Find {{ random_city.name }}
            <span class="score-text">
                Score: {{score}} / {{total_cities}}
            </span>
        </h1>

        <div id="map"></div>
        <a href='/logout'>
            <button type="button" id="logout-form-submit">Log Out</button>
        </a>

        <a href='/map'>
            <button type="button" id="next-random-button">Next City</button>
        </a>

        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script>
            var mapClicked = false;

            // Initialize the map
            var mymap = L.map('map').setView([0, 0], 2);

            // Add a tile layer
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(mymap);

            function deleteRandomCity(cityId, isCorrect) {
                fetch('/delete_city', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                        body: 'city_id=' + encodeURIComponent(cityId) + '&isCorrect=' + encodeURIComponent(isCorrect) // Include isCorrect parameter in the request body
                })
            }
            // Define a function to handle map click events
            function onMapClick(e) {
                if (!mapClicked) {
                    // Get the clicked coordinates
                    var clickedLatLng = e.latlng;

                    // Create a LatLng object for the random city
                    var cityLatLng = L.latLng("{{ random_city.latitude }}", "{{ random_city.longitude }}");

                    // Calculate the distance between clicked point and city in meters
                    var distance = clickedLatLng.distanceTo(cityLatLng);

                    // Define a threshold distance in meters
                    var threshold = 500000; // Adjust this value as needed

                    if (distance <= threshold) {
                        // Award points
                        // awardPoints();

                        // Create a polyline between the clicked point and the city
                        var polyline = L.polyline([clickedLatLng, cityLatLng], {color: 'green'}).addTo(mymap);
                        deleteRandomCity("{{random_city.id}}", true)

                    }else{
                        // Create a polyline between the clicked point and the city
                        var polyline = L.polyline([clickedLatLng, cityLatLng], {color: 'red'}).addTo(mymap);
                        deleteRandomCity("{{random_city.id}}", false)

                    }

                    // Update the mapClicked variable to true
                    mapClicked = true;

                    // Remove the click event listener from the map
                    mymap.off('click', onMapClick);
                }
            }

            // Attach the click event handler to the map
            mymap.on('click', onMapClick);

        </script>


    </body>
</html>
